<div class="navbar" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <div class="col-md-6 pull-left">
      <div class="navbar-form" role="classified-search">
        <div class="input-group">
          <%= text_field_tag "classified-search-box", params['search'] || '', class: "form-control", placeholder: "Search Classifieds" %>
          <div class="input-group-btn">
            <button id="submit-classified-search" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="classifieds-list">
  <%= render "classifieds" %>
</div>
