@import "bootstrap";

.jumbotron {
	padding-left: 0px !important;
	padding-top: 3px;
	padding-bottom: 3px;
    margin-bottom:15px;
    background-repeat:no-repeat;
    h1, h2 {
    	font-family:guardian-egyptt, georgia, serif;
    }
}



body {
	background-color:#F5F5F1;
	color: #333333;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color:#F8F8F5;
	max-height: 52px;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;

  &:before {
    content: ' ';
    background-color: #EFEFEB;
    width: 100%;
    height: 52px;
    float: left;
  }

  .container-fluid {
    position: relative;
    top: -52px;
  }

  &:after {
    margin-bottom: -46px;
  }
}


.navbar-advanced-search {
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

div[role='advanced-search'] {
  float: right;
  width: 420px;
  margin-bottom: 4px;
  .form-group {
    width: 100%;
  }

  #women-only {
    label {
      position: relative;
      top: -2px;
      margin-bottom: 10px;
    }
  }
}

.navbar-default .navbar-brand { 
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color: #D5641C;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #019285;
	font-size: 14px;	
}

.navbar-collapse {
  &:before, &:after {
    display: none;
  }
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-4 {
	h3 {font-size: 36px;}
	h5 {font-size: 22px;}
	p {font-size: 18px;}		
}

.caption {
	h3 {
		font-size: 20px;
		margin: 2px;
	}
	p {
		font-size: 14px;
		margin: 0px;
	}
}

.thumbnail {

}

#bar-title {
	color: #104571;
	font-family: guardian-egyptt, georgia, serif;
	font-size: 24px;
}

#search-box {
	width: 350px;
	font-size: 20px;
}
